{{ define "app" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ template "title" . }} | Podcast Stats</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {{ template "the-header" . }}

    {{ if not .User.Email }}
      <p>Not logged in</p>
    {{ end }}

    <main>
      {{ with .Flash }}
        <p>{{ . }}</p>
      {{ end }}
      
      {{ template "main" . }}
    </main>

    {{ template "the-footer" . }}

    <script type="text/javascript" src="/static/app.js"></script>
  </body>
</html>
{{ end }}