{{ define "base-episode" }}
<li 
    data-controller="episode" 
    data-episode-id="{{ .ID }}" 
    data-episode-listened="{{ .Listened }}"
    data-target="podcast.episode"
    data-duration="{{ .Duration }}"
>
    <span>
        {{ .Title }}<br>
        <span>Published {{ humanDate .PublishedOn }}</span><br/>
        <span>{{ humanSeconds .Duration }}</span>
        <span
            {{ if .Listened }}{{ else }}style="display: none;"{{ end }}
            data-target="episode.check"
        >&check;</span>
    </span>
    {{ if .Listened }}
        <form 
            action="/episodes/{{ .ID }}/listens/delete"
            method="POST"
            data-action="episode#unlisten episode:update->podcast#update"
            data-target="episode.form"
        >
            <button type="submit" data-target="episode.button">Unlisten</button>
        </form>
    {{ else }}
        <form 
            action="/episodes/{{ .ID }}/listens"
            method="POST"
            data-target="episode.form"
            data-action="episode#listen episode:update->podcast#update"
        >
            <button type="submit" data-target="episode.button">Listen</button>
        </form>
    {{ end }}
</li>
{{ end }}