{{ define "the-header" }}
<header class="Header flex justify-between align-center">
  <p>
    <a href="/">Podcast Stats</a>
  </p>
  <nav>
    <ul class="Nav__list flex">
      {{ if .User.Email }}
        <li>
          {{ .User.Email }}
        </li>

        <li>
          {{ template "search-form" . }}
        </li>

        <li>
          <form action="/logout" method="POST">
            <button type="submit">Logout</a>
          </form>
        </li>
      {{ else }}
        <li>
          <a href="/signup">Signup</a>
        </li>

        <li>
          <a href="/login">Login</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
{{ end }}