{{ template "app" . }}

{{ define "title" }}Home{{ end }}

{{ define "main" }}
<div class="Home container" data-controller="home">
  <h1>📈 Dashboard</h1>

  {{ if eq (len .Subscriptions) 0 }}
  <p>Looks like you don't have any podcasts in your library yet.</p>

  {{ else }}
  <p>
    <span>
      <span data-target="home.unlistenedEpisodes">{{ .Stats.UnlistenedEps }}</span> unlistened episodes
    </span>

    <span>
      <span data-target="home.unlistenedTime">{{ humanSeconds .Stats.UnlistenedTime }}</span> unlistened time
    </span>
  </p>

  {{ template "calendar" . }}

  <a href="/refetch-all">Refetch all podcasts</a>

  <div>
    <h3>Episodes</h3>
    <ul>
      {{ range episodesFromSubs .Subscriptions }}
        {{ template "base-episode" . }}
      {{ end }}
    </ul>
  </div>

  <ul>
    {{ range .Subscriptions }}
      <li>
        <h3>
          <a href="/podcasts/{{ .CollectionID }}">
            {{ .Name }}
          </a>
        </h3>

        <p>{{ countUnlistened .Episodes }} episodes unlistened</p>
        <p>{{ unlistenedTime .Episodes | humanSeconds }} of unlistened time</p>
      </li>
    {{ end }}
  </ul>
  {{ end }}
</div>
{{ end }}