{{ template "app" . }}

{{ define "title" }}Home{{ end }}

{{ define "main" }}
  <h1>Podcast stats</h1>

  {{ if eq (len .Subscriptions) 0 }}
    <p>Looks like you don't have any podcasts in your library yet.</p>

  {{ else }}
    <p>
      <span>{{ .Stats.UnlistenedEps }} unlistened episodes</span>
      <span>{{ humanSeconds .Stats.UnlistenedTime }} unlistened time</span>
    </p>

    {{ template "calendar" . }}

    <ul>
      {{ range .Subscriptions }}
        <li>
          <h3>
            <a href="/podcasts/{{ .CollectionID }}">
              {{ .Name }}
            </a>
          </h3>
          <p>{{ countUnlistened .Episodes }} episodes unlistened</p>
          <p>{{ unlistenedTime .Episodes | humanSeconds }} of unlistened time</p>
        </li>  
      {{ end }}
    </ul>
  {{ end }}
{{ end }}