{{ template "app" . }}

{{ define "title" }}{{ .Podcast.Name }}{{ end }}

{{ define "main" }}
<div class="Podcast" data-controller="podcast">
  <h1>{{ .Podcast.Name }}</h1>

  <form action="/refetch" method="POST">
    <input type="hidden" name="collectionID" value="{{ .Podcast.ID }}">
    <button type="submit">Refetch</button>
  </form>

  <h4>Stats</h4>
  <p>Number of unlistened episodes: <span data-target="podcast.unlistenedEpisodes">{{ countUnlistened .Episodes }}</span></p>
  <p>Amount of unlistened time: <span data-target="podcast.unlistenedTime">{{ unlistenedTime .Episodes | humanSeconds }}</span></p>

  <h4>Episodes</h4>
  <ul>
    {{ range sortByPublishedOn .Episodes }}
        {{ template "base-episode" . }}
    {{ end }}
  </ul>
</div>
{{ end }}